@import "twitter/bootstrap/mixins";

.fields {
  padding-top: 8px;
}

#main {
  padding-top: 15px;
}

#login-signup {
  text-align:center;
  margin:0 auto;
  form {
    width: 220px;
    text-align:left;
    margin:0 auto;
  }
  #social-login {
    margin:-15px -20px 15px;
    padding:10px;
    background: #f5f5f5;
    border-bottom: 1px solid #dadada;
  }
}
