@import "twitter/bootstrap/mixins";

.fields {
  padding-top: 8px;
}

#main {
  padding-top: 15px;
}

#login-signup {
  width: 70%;
  text-align:center;
  margin:0 auto;
  form {
    width: 220px;
    text-align:left;
    margin:0 auto;
  }
  hr {
    border-top:2px solid #eee;
    margin:22px 0;
    border-bottom: none;
  }
}
