!!! 5
%html{:lang => @locale, :data => {:debug => @debug,
    :controller => controller_name,
    :action => action_name}}
  %head
    %meta{:charset => 'utf-8'}
    %title RailsBoilerplate
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body= yield
